
<h1><%= @article.title %> </h1>
<p><%= @article.body%></p>
<%= link_to '<< Back to articles list', articles_path %>
<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete article?"} %>
